:root{
    --bg-color:#C3464E; 
}
body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: 
        linear-gradient(
        rgba(243, 243, 243, 0.904),
        rgba(255, 255, 255, 0.904)
        ),
        url("../images/icon-red.png") ;
    height: 100vh;
    background-size: cover;
}

.icone-logo{
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 106px;
    height: 106px;
    display: flex;
}

.icone-logo img{
    margin: 15px;
}

.lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: -35px;
}

.item{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    min-width: 300px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    margin-top: 35px;
}

.icone img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.titulo{
    display: flex;
    width: 100%;
}

.titulo a{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    text-decoration: none;
}

.rodape{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape img{
    width: 300px;
}